<br>
<br>
<br>
<br>
<div class="row text-center">
    <h1 class="card-title-center">PREFEITOS ELEITOS</h1>
</div>
<br>
<div class="container main-container">
    <div class="row text-center">
        <div *ngFor="let prefeito of prefeitos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <br>
                <h3 class="card-title">{{ prefeito.nome}}</h3>
                <h5 class="card-text">Partido: {{ prefeito.siglaDoPartido }}</h5>
                <h5 class="card-text">{{ prefeito.nomeDoPartido }}</h5>
                <h5 class="card-text">Projetos de Lei: {{ prefeito.projetosDeLei }}</h5>
                <br>
            </div>
        </div>
    </div>
</div>