<!-- Page Content Start -->
<header class="bg-primary py-5 mb-5 shadow p-3 mb-5 rounded">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="../assets/brasaooficialcolorido.png" height="130px" />
            </div>
            <div class="col-lg-10">
                <h1 class="display-4 text-white mt-5 mb-2">República Federativa do Brasil</h1>
                <p class="lead mb-5 text-white">Ordem e Progresso</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row text-center">
        <div class="col-sm col-sm">
            <div class="card h-90 shadow p-3 mb-5 rounded">
                <img class="bg-light card-img-top" src="/assets/icones/representante1.png" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title">Deputados</h4>
                    <p class="card-text">Representantes do povo eleitos para o parlamento. No Parlamento os deputados
                        decidem se aprovam ou não decretos-lei ou mesmo leis.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/deputados']">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="col-sm col-sm">
            <div class="card h-90 shadow p-3 mb-5 rounded">
                <img class="bg-light card-img-top" src="/assets/icones/representante2.png" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title">Presidente</h4>
                    <p class="card-text">Representante público mais elevado do país e o principal articulador das
                        vontades da população. Cabe a ele as tarefas de chefe de Estado e de governo e de comandante das Forças Armadas.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/presidentes']">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="h-70 col-sm col-sm ">
            <div class="card h-90 shadow p-3 mb-5 rounded">
                <img class="bg-light card-img-top" src="/assets/icones/representante3.png" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title">Governadores</h4>
                    <p class="card-text">Representam o poder da administração estadual e a representação do Estado em suas relações jurídicas, políticas e administrativas. Simbolizam o poder executivo </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/governadores']">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container main-container">
    <div class="row text-center">
        <div class="h-75 col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow p-3 mb-5 rounded">
                <img class="bg-light card-img-top" src="/assets/icones/representante4.png" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title">Ministros</h4>
                    <p class="card-text">Um ministro é o membro de um governo nacional ou subnacional
                        com importantes funções executivas.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/ministros']">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="h-75 col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow p-3 mb-5 rounded">
                <img class="bg-light card-img-top" src="/assets/icones/representante5.png" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title">Prefeitos</h4>
                    <p class="card-text">Prefeito é uma designação comum dada a várias funções desenvolvidas por um
                        administrador.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/prefeitos']">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="h-75 col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow p-3 mb-5 rounded">
                <img class="bg-light card-img-top" src="/assets/icones/representante6.png" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title">Senadores</h4>
                    <p class="card-text">Um senador representa um estado da federação – ou unidade federativa – e compõe
                        o parlamento.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/senadores']">Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="h-75 col-lg-3 col-md-6 mb-4">
            <div class="card h-100 shadow p-3 mb-5 rounded">
                <img class="bg-light card-img-top" src="/assets/icones/representante7.png" alt="Responsive image">
                <div class="card-body">
                    <h4 class="card-title">Vereadores</h4>
                    <p class="card-text">Os vereadores são agentes políticos eleitos em eleição direta para trabalhar no
                        Legislativo municipal.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/vereadores']">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Content End -->