<br>
<br>
<br>
<br>
<div class="row text-center">
    <h1 class="card-title-center">SENADORES ELEITOS</h1>
</div>
<br>
<div class="container main-container">
    <div class="row text-center">
        <div *ngFor="let senador of senadores" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <br>
                <h3 class="card-title">{{ senador.nome}}</h3>
                <h5 class="card-text">Partido: {{ senador.siglaDoPartido }}</h5>
                <h5 class="card-text">{{ senador.nomeDoPartido }}</h5>
                <h5 class="card-text">Projetos de Lei: {{ senador.projetosDeLei }}</h5>
                <br>
            </div>
        </div>
    </div>
</div>